.relation-editor {
  min-width: 200px;
  height: 36px;
  box-shadow: var(--box-shadow);

  &__control {
    box-sizing: content-box;
    height: 36px !important;
    min-height: 36px !important;
    padding: 0 8px;

    background-color: var(--color-background-subtle);
    border-bottom: 1px solid var(--color-border-subtle);
  }

  &__indicator-separator {
    margin: 8px 4px;
    background-color: var(--color-border-subtle);
  }

  &__indicator {
    padding: 4px;
    color: var(--color-low-contrast);

    &:hover {
      cursor: pointer;
      color: var(--color-high-contrast);
      background-color: var(--color-hover);
      border-radius: var(--border-radius);
    }
  }

  &__input {
    font: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  &__menu {
    padding: 4px 0;
    background-color: var(--color-background-subtle);
    box-shadow: var(--box-shadow);
  }

  &__option {
    display: flex !important;
    align-items: center;
    height: 32px;
    padding: 0 8px;

    &:hover {
      cursor: pointer;
      background-color: var(--color-hover);
    }
  }

  &__placeholder {
    color: var(--color-low-contrast);
  }
}
