.button--icon {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 24px;
  max-width: 24px;
  height: 24px;

  color: var(--color-low-contrast);

  border-radius: var(--border-radius);

  transition: all 150ms ease 0s;

  &:hover {
    cursor: pointer;
    color: var(--color-high-contrast);
    background-color: var(--color-background-element);
  }
}
